{{/* This file is combined with the root.tmpl to display the blog home page. */}}

{{define "title"}}Go 语言博客{{end}}
{{define "content"}}
	{{range .Data}}
		{{template "doc" .}}
	{{end}}
	<p>更多文章请查看<a href="{{.BasePath}}/index">索引</a>。
{{end}}
